@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

/* @import './styles/tailwind.css'; */

.banner{
 background-image: url('../src/assets/designImages/car2.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 border-top-left-radius: 20px;
 border-bottom-left-radius: 20px;
  transition: all ease 1s;
}
.seller{
 background-image: url('../src/assets/designImages/dealer1.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 border-top-left-radius: 20px;
 border-bottom-left-radius: 20px;
 transition:all ease 1s ;
}

.login{
 background-image: url('../src/assets/designImages/car3.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 border-top-left-radius: 20px;
 border-bottom-left-radius: 20px;
 transition:all ease 1s ;
}
.signin{
 background-image: url('../src/assets/designImages/car4.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 border-top-left-radius: 20px;
 border-bottom-left-radius: 20px;
 transition:all ease 1s ;
}

.heroimage{
  background-image: url('../src/assets/designImages/car4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all ease 1s;
}

/* Car logos */
/* @keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 40px 0 0 0;
  background: white;
  white-space: nowrap;
  position: relative;
  width: 100%;
  gap: 20px;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-flex;
  animation: 5s slide infinite linear;
  
}

.logos-slide img {
  height: 40px;
  margin: 0 20px;
} */

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-45px * 7));
  }
}

.slider{
  height: auto;
  /* margin: auto; */
  overflow: hidden;
  position: relative;
  width: auto;
}

.slider .slide-track{
  animation: scroll 40s linear infinite;
  display: flex;
  width: auto;
}

.slide-track * {
  /* width: 250px;
  height: 50px; */
}